.pp {
    color: aqua;
    font-size: x-large;
    font-weight: 100;
    font-style: italic;
}

h1 {
    color: blueviolet;

}

h2 {
    color: bisque;
    background-color: aquamarine;
}

p {
    color: chartreuse;
    background-color: darkorange;
    font-size: 23px;
}

li {
    color: lemonchiffon;
    background-color: burlywood;
}