.pp {
    color: aqua;
    font-size: x-large;
    font-weight: 100;
    font-style: italic;
}

div {
    border: 1px solid #000;
}

h1 {
    color: blueviolet;
}

h2 {
    color: bisque;
    background-color: aquamarine;
}

li {
    color: lemonchiffon;
    background-color: burlywood;
}

/* p {
    color: chartreuse;
    background-color: darkorange;
    font-size: 23px;
} */

#p4 {
    color: beige;
}

.warning {
    color: aqua;
}

.spec {
    color: bisque;
}

.fs16 {
    font-size: 56px;
}

a:link {
    color: cornflowerblue;
}

p > h1 {
    color: aliceblue;
}

a:visited {
    color: red;
}

a:hover {
    color: green;
}

a:active {
    font-size: 34px;
}
